---
layout: default
---

<div class="home">
  <br><br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gede -->
<ins class="adsbygoogle"
     style="display:inline-block;width:635px;height:90px"
     data-ad-client="ca-pub-4865920458148572"
     data-ad-slot="1210199047"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <h1 class="page-heading"></h1>

    {% for post in paginator.posts %}
     <article class="post tag-speeches">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{ post.content | strip_html | truncatewords:45}} <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">»</a></p>
    </section>
    <footer class="post-meta">
        
        
        <p class="post-tags">{% include post-tags.html %}</p>
        <time class="post-date" datetime="1948-12-12"><i class="fa fa-calendar-minus-o"></i> {{ post.date | date: "%b %-d, %Y" }}</time>
    </footer>
</article>
    {% endfor %}
  

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous" align="left">Previous</span>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next" align="right">Next</span>
  {% endif %}
</div>




<br><br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gede -->
<ins class="adsbygoogle"
     style="display:inline-block;width:635px;height:90px"
     data-ad-client="ca-pub-4865920458148572"
     data-ad-slot="1210199047"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>



</div>


{% include widgets.html %}


</div>