---
layout: default
---

<div class="home">

  <h1 class="page-heading"></h1>

    {% for post in paginator.posts %}
     <article class="post tag-speeches">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{ post.content | strip_html | truncatewords:75}} <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">»</a></p>
    </section>
    <footer class="post-meta">
        
        
        <p class="post-tags">{% include post-tags.html %}</p>
        <time class="post-date" datetime="1948-12-12">{{ post.date | date: "%b %-d, %Y" }}</time>
    </footer>
</article>
    {% endfor %}
  

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous" align="left">Previous</span>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next" align="right">Next</span>
  {% endif %}
</div>


</div>


{% include widgets.html %}


</div>