<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Spaghetti-san Personal Blog</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>Designed by Spaghetti</p>
        <p>Proudly hosted by <a href="https://pages.github.com/" target="_blank"><span class="octicon octicon-logo-github" style="color: #828282;
    position: relative;
    top: 4px;
    left: 3px;
    font-size: 20px;"></span></a></p>
      </div>
    </div>
  </div>
</footer>
<!--- Where Javascript Loaded --->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="http://iamceege.github.io/tooltipster/js/jquery.tooltipster.js"></script>
<script>
$(document).ready(function() {
	if(location.pathname != "/") {
		$('.trigger a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
	} else $('.none a:eq(0)').addClass('active');
});

</script>
  <script>
        $(document).ready(function() {
            $('.tooltip-right').tooltipster({
                contentAsHTML: true,
                position: 'right',
            });
        });
        $(document).ready(function() {
            $('.tooltip-left').tooltipster({
                contentAsHTML: true,
                position: 'left',
            });
        });
    </script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-autocomplete.js"></script>
<script src="/assets/js/responsive_waterfall.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script>


$(document).ready(function(){$(".menu-icon").click(function(){$(".trigger").toggle()})}),$(function(){$(document).pjax("#route","body",{fragment:"body",timeout:1e5,scrollTo:0,push:!0,maxCacheLength:20,replace:!1})}),$(document).on("pjax:error",function(e,n,t,o,c){return c.success(n.responseText,t,n),!1});var options={url:"/gblk.json",getValue:"title",list:{match:{enabled:!0,maxNumberOfElements:5}},template:{type:"links",fields:{link:"url"}},theme:"square"};$("#countries").easyAutocomplete(options),Pace.on("start",function(){$(".pacel").show()}),Pace.on("done",function(){$(".pacel").hide()}),$(function(){$("img").lazyload({})});var waterfall=new Waterfall({containerSelector:".wf-container",boxSelector:".wf-box",minBoxWidth:180});$(document).ready(function(){$(".menu-icon").click(function(){$(".trigger").toggle()})});
</script>
<script id="dsq-count-scr" src="//spaghettisan.disqus.com/count.js" async></script>