<div class="widgets">
	  		<h2>Tags</h2>
<ul class="tags" style="padding-bottom: 20px;">
	  {% for tag in site.tags %}
	  
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a href="/tags/#{{ tag | first | slugize }}">
      {{ tag | first }}
      <span>{{ tag | last | size }}</span>
    </a>
  </li>
{% endfor %}
</ul>
  
	  	</div>
	  	
	  	
	  	<div class="widgets">
	  	  <h2>
	  	  </h2>
	  	  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- widget -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4865920458148572"
     data-ad-slot="1100304245"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	  	</div>